<app-navbar></app-navbar>
<h2>Page d'accueil</h2>

<p-carousel 
    [value]="products" 
    [numVisible]="3" 
    [numScroll]="3" 
    [circular]="false" 
    [responsiveOptions]="responsiveOptions">

    <ng-template pTemplate="item" let-product>
        <div class="border border-surface rounded-border m-2 p-4">
            <div class="mb-4">
                <div class="relative mx-auto">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" 
                         [alt]="product.name" 
                         class="w-full rounded-border" />
                    <p-tag [value]="product.inventoryStatus" 
                           [severity]="getSeverity(product.inventoryStatus)" 
                           class="absolute" >
                    </p-tag>
                </div>
            </div>
            <div class="mb-4 font-medium">{{ product.name }}</div>
            <div class="flex justify-between items-center">
                <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
                <span>
                    <p-button icon="pi pi-heart" severity="secondary" [outlined]="true"></p-button>
                    <p-button icon="pi pi-shopping-cart" styleClass="ml-2"></p-button>
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>
